.baidu{
	float: left;
	margin: 8px 0;
	margin-left: 100px;
	}
.baidu form{
	position: relative
}
.baidu-2{
	width: 100%;
	height: 110px;
	margin: 0 auto;
	background: none;
	padding-top: 90px;
	z-index: 1;
	}
.baidu-2 form{
	width: 520px;
	margin: 0 auto;
}
.baidu-2 input{
	padding: 13px 8px;
	opacity: 0.9;
	font-size: 15px;
	}
    .baidu-2{
        width: 100%;
        height: 110px;
        margin: 0 auto;
        background: none;
        padding-top: 90px;
        z-index: 1;
        }
    .baidu-2 form{
        width: 520px;
        margin: 0 auto;
    }
    .baidu-2 input{
        padding: 13px 8px;
        opacity: 0.9;
        font-size: 15px;
        }
    #Select-2{
        float: left;
        }
    
    .Select-box-2{
        text-align: center;
        float: left;
        position: relative;
        }
    .Select-box-2 ul{
        height: 48px;
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 9999;
        background: rgba(255,255,255,0.9);
        border: none;
        overflow: hidden
        }
    .Select-box-2 li{
        width: 60px;
        line-height: 46px;
        font-size: 15px;
        color: #484848;
        border: 0;
        cursor: pointer;
        width: 80px;
        }
    .Select-box-2 li:hover{
        background: #3385ff;
        color: #FFF;
        }
    .Select-box-2 .this_s{
        color: #317ef3;
        width: 80px;
        }
    .Select-box-2 .this_s:hover{
        background: none;
        color: #317ef3;
        }
    
        #kw-2 {
        width: 413px;
        outline: 0;
        border: 1px solid #ccc;
        background: rgba(255,255,255,0.2);
        color: #000000;
        padding-left: 8px;
        font-weight: bold;
        height: 48px;
        box-sizing: border-box;
    }
    #su-2{
        width: 90px;
        background: blue;
        
        border-top: #3385ff 1px solid;
        border-bottom: 1px solid #2d78f4;
        color: #FFF;
        cursor: pointer;
        /*去轮廓阴影*/
        outline: none;
        height: 48px;
        border: none;
        }	
    #su-2:hover{
        background: blue;
        border-bottom: 1px solid blue;
        }
    #su-2:active{
        background: blue;
        box-shadow: inset 1px 1px 3px blue;
        -webkit-box-shadow: inset 1px 1px 3px blue;
        }
.in5 {
        width: calc(100% - 160px);
        position: relative;
        box-sizing: border-box;
}
.qingkong{
	position: absolute;
	right: 95px;
	top: 12px;
	width: 18px;
	height: 18px;
	background: rgba(0,0,0,0.1);
	border-radius: 18px;
	line-height: 16px;
	color: #666666;
	cursor: pointer;
	text-align: center;
	font-size: 14px;
	display: none;
}
.qingkong:hover{
	background: rgba(0,0,0,0.2);
}
.qingkong:active{
	background: rgba(0,0,0,0.3);
}
.qingkong{
	right: 115px;
	top: 15px;
}
div#qingkong {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 14px;
    color: #e6e6e6;
}