.baidu-2{
	width: 100%;
	height: 110px;
	margin: 0 auto;
	background: none;
	padding-top: 90px;
	z-index: 1;
	}
.baidu-2 form{
	width: 520px;
	margin: 0 auto;
}
.baidu-2 input{
	padding: 13px 8px;
	opacity: 0.9;
	font-size: 15px;
	}
#Select-2{
	float: left;
	}

.Select-box-2{
	text-align: center;
	float: left;
	position: relative;
	}
.Select-box-2 ul{
	height: 48px;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 9999;
	background: rgba(255,255,255,0.9);
	border: none;
	overflow: hidden
	}
.Select-box-2 li{
	width: 60px;
	line-height: 46px;
	font-size: 15px;
	color: #484848;
	border: 0;
	cursor: pointer;
	width: 80px;
	}
.Select-box-2 li:hover{
	background: #3385ff;
	color: #FFF;
	}
.Select-box-2 .this_s{
	color: #317ef3;
	width: 80px;
	}
.Select-box-2 .this_s:hover{
	background: none;
	color: #317ef3;
	}

	#kw-2 {
    width: 413px;
    outline: 0;
    border: 1px solid #ccc;
    background: rgba(255,255,255,0.2);
    color: #000000;
    padding-left: 8px;
    font-weight: bold;
    height: 48px;
    box-sizing: border-box;
}
#su-2{
	width: 90px;
	background: blue;
	
	border-top: #3385ff 1px solid;
	border-bottom: 1px solid #2d78f4;
	color: #FFF;
	cursor: pointer;
	/*去轮廓阴影*/
	outline: none;
	height: 48px;
	border: none;
	}	
#su-2:hover{
	background: blue;
	border-bottom: 1px solid blue;
	}
#su-2:active{
	background: blue;
	box-shadow: inset 1px 1px 3px blue;
	-webkit-box-shadow: inset 1px 1px 3px blue;
	}

    div#baidu {
        width: 80px;
        /* height: 50px; */
        height: 1.2rem;
        /* background-color: #fff; */
        box-sizing: border-box;
        text-align: center;
    }
    
    .baidu-2 form {
        max-width: 520px;
        width: 80%;
        display: flex;
        justify-content: space-between;
        height: 1.2rem;
        padding: 0;
        z-index: 2;
    }
    
    .in5 {
        width: calc(100% - 160px);
        position: relative;
        box-sizing: border-box;
    }
    
    div#qingkong {
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
        line-height: 14px;
        color: #e6e6e6;
    }
    
    input#su-2 {
        width: 79px;
        box-sizing: border-box;
    }
    
    #kw-2 {
        width: 100%;
        border-left: none;
        border-right: none;
    }
    
    @media screen and (max-width: 768px) {
        ul.keylist {
            width: calc(80% - 0px) !important;
        }
        /*整个表单宽度*/
        .baidu-2 form{
            
        }
        div.in5 {
            width: calc(100% - 80px);
        }
        input#su-2{
            position: absolute;
            right: 0;
        }
    }
    .keylist {
        max-width: 360px;
        width: calc(80% - 160px);
        box-sizing: border-box;
        z-index: 52;
        margin: auto;
    }
    
    ul.keylist {
        outline: 0;
        background: #fff;
        color: #000000;
        font-weight: bold;
        position: relative;
    }
    ul.keylist li {
        float: none;
        padding: 3px 8px;
    }
    .keylist li:hover{
        background-color:#f1f1f1;
    }
    .keylist li.active{
        background-color:#f1f1f1;
    }
    body, ul, li, h1, h2, h3, h4, h5, h6, p, form, dl, dt, dd {
        z-index: 1;
    }